<div class="panel panel-default" data-widget="{&quot;draggable&quot;: &quot;true&quot;}" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px); padding-bottom: 18px; position: relative; z-index: 0; left: 0px; top: 0px;">

    <div class="panel-heading">
        <h2>RECENT TIMELINE</h2>

        <button class="btn btn-sm btn-info btn-label ml-md" style="padding-left: 12px;padding-right: 12px;margin-left: 72%;float: right;padding-top: 7px;font-size: 10px;margin-top: 12px;" (click)="watchFilter(isWatchedFilter)">
            <span *ngIf="!isWatchedFilter" class="" title="" style="display:inline-block; cursor:pointer;">
                <i class="material-icons" style="font-size: 13px;">favorite</i> View Watching
            </span>
            <span *ngIf="isWatchedFilter" class="" title="Watched" style="display:inline-block; cursor:pointer;">
                <i class="material-icons" style="font-size: 13px;">favorite</i> View All
            </span>          
            <div class="ripple-container"></div>
        </button>

        
        
    </div>
    <div class="panel-body no-padding table-responsive" style= "height: 595px;overflow-y: scroll;"  infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()"
     [scrollWindow]="true">

        <div class="list-group media-list" *ngFor="let timeline of recentTimelines | recentTimelineWatchFilter:isWatchedFilter"
            tabindex="0" style="right: -19px;">
            <div class="list-group-item ripple-effect">
                <div class="row-action-primary">
                    <div class="" style="padding-top 7px;">
                        <time datetime="2016-06-29" class="icon">
                            <!-- <em>Wednesday</em> -->
                            <strong>{{timeline.dateMonth}}</strong>
                            <span>{{timeline.dateDay}}</span>
                        </time>
                    </div>
                </div>



                <div class="row-content">
                    <div class="least-contents">
                        <span *ngIf="timeline.contributedBy.length > 0" class="date" style="padding-right:10px;color:#bdbdbd;">contributors</span>
                        <span *ngFor="let image of timeline.contributedBy">
                        <img class="img-circle" src="{{image.imageUrl}}" width="16" alt="{{image.userName}}" title="{{image.userName}}" >
                    </span>
                    </div>

                    <!--<div class="least-contents">15m</div>-->
                    
                    <h4 class="list-group-item-heading" style="float: left;" *ngFor="let tag of timeline.tags; let last = last">
                        <span (click)="select(timeline)">{{tag.name}}</span>
                        <span *ngIf="!last" (click)="select(timeline)">&nbsp; +  &nbsp;</span>
                    </h4>

                    <div class="pcontent">
                        <p class="list-group-item-text" *ngIf="timeline.noOfEntries" (click)="select(timeline)">
                        <span>{{timeline.noOfEntries}}</span>
                        </p>

                     


                    </div>
                    
                    

                   
                </div>

                <div class="like-info">
                        <div (click)="watch(timeline); $event.stopPropagation()">
                            <a *ngIf="!timeline.isWatched" class="btn btn-xs btn-info btn-label ml-md">
                                <i class="material-icons" style="font-size: 13px;">favorite</i> Watch
                                <div class="ripple-effect"></div>
                            </a>
                            <a *ngIf="timeline.isWatched" class="btn btn-xs btn-info btn-label ml-md" title="Watched">
                                <i class="material-icons" style="font-size: 13px;color:blue !important;">favorite</i> Unwatch
                                <div class="ripple-effect"></div>
                            </a>
                        </div>
                        <a class="btn btn-xs btn-info btn-label ml-md" (click)="parentModal.open(); setCurrentTimeline(timeline)">
                            <i class="material-icons" style="font-size: 13px;">share</i> Share

                        </a>
                        <a class="btn btn-xs btn-info btn-label ml-md" href="#">
                            <i class="material-icons" style="font-size: 13px;">delete_sweep</i> Clean

                        </a>
                    </div>
                <div class="ripple-container"></div>
            </div>

            <div class="list-group-separator"></div>
        </div>
    </div>
</div>
<!--<div class="box" style="height:620px;">
    <div class="box-header" style="padding-bottom:0.5rem;">
        <h3 class="pull-left">{{title}}</h3>
        <div class="pull-right" (click)="watchFilter(isWatchedFilter); $event.stopPropagation()">
            <span *ngIf="!isWatchedFilter" class="" title="" style="display:inline-block; cursor:pointer;">
                <a class="btn-like"><i class="fa fa-heart mright-5"></i> View Watching</a>
            </span>
            <span *ngIf="isWatchedFilter" class="" title="Watched" style="display:inline-block; cursor:pointer;">
                <a class="btn-like" style="background-color:#26a69a !important; color:#fff;"><i class="fa fa-heart mright-5" style="color:#fff;"></i> View All</a>
            </span>
        </div>
    </div>

    <div style="height: 550px; overflow-y: scroll; margin-right: 10px;"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()"
     [scrollWindow]="true">
        <div class="box-body recent-timeline-item" id="collapseExample1" *ngFor="let timeline of recentTimelines | recentTimelineWatchFilter:isWatchedFilter">
            <div class="timeline-description" id="collapseExample1">


                <div class="recent-timeline-timestamp">
                    <span class="recent-timeline-date">
                        {{timeline.dateDay}}
                    </span>
                    <span class="recent-timeline-month">
                        {{timeline.dateMonth}}
                    </span>
                </div>

                <div class="recent-timeline-note">
                    <div class="recent-timeline-tags">
                        <div>
                            <div *ngFor="let tag of timeline.tags; let last = last" class="pull-left">
                                <span class="pull-left link-tag" (click)="select(timeline)">{{tag.name}}</span><span *ngIf="!last" class="add-tag"> + </span>
                            </div>
                            <div class="recent-timeline-entry pull-left" *ngIf="timeline.noOfEntries">({{timeline.noOfEntries}})</div>
                            <button type="button" value='Share' (click)="parentModal.open(); setCurrentTimeline(timeline)" class="share-note-icon pull-left" style="margin-left:6px;" title="Share">
                                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="rece pull-right" (click)="watch(timeline); $event.stopPropagation()">
                            <span *ngIf="!timeline.isWatched" class="" title="" style="display:inline-block; cursor:pointer;">
                                <a class="btn-like"><i class="fa fa-heart"></i></a>
                            </span>
                            <span *ngIf="timeline.isWatched" class="" title="Watched" style="display:inline-block; cursor:pointer;">
                                <a class="btn-like" style="background-color:#26a69a !important;"><i class="fa fa-heart" style="color:#fff;"></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="recent-activity-block">
                        {{timeline.recentActivity}}
                    </div>
                </div>

                <div class="share-with-block">
                    <div *ngIf="timeline.contributedBy.length > 0" class="pull-left">CONTRIBUTED BY</div>
                    <div class="pull-left" style="clear: both">
                        <css-carousel [images]="timeline.contributedBy"></css-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #parentModal>
    <modal-header [show-close]="true">
        <p>SHARE</p>
    </modal-header>
    <modal-body>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10">
                    <label for="user-app" class="col-sm-pull-4 control-label">Whom would you like to share with ?</label>
                </div>

                <div class="col-sm-10">
                    <user-app [isAllowedNewInput]="false" (usersAdded)='onSelectedUsersChanged($event)' (usersRemoved)="onSelectedUsersChanged($event)">Loading...</user-app>
                </div>
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="parentModal.dismiss()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="parentModal.close();shareTimeline()">Share</button>
            </div>
        </div>
    </modal-footer>

</modal>