<div class="widget" id="widget-profileinfo">
    <div class="widget-body">
        <div class="userinfo panel-controls dropdown" style="padding-top:6px">
            <div class="avatar pull-left">
                <img src={{imageURL}} class="img-responsive img-circle" style="margin-top: -6px;width: 49px;">
            </div>
            <!--<div>-->
            <span class="username" style="font-size: 13px;">{{userProfileData.name}}</span>
            <!--<span class="useremail">online</span>-->
            <button class="btn btn-icon-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="material-icons inverted" style="color: #e1e7f1">arrow_drop_down</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="index.html">settings</a></li>
                <li><a href="index.html">profile</a></li>
                <li class="divider"></li>
                <li><a style="cursor: pointer" (click)="logout()">logout</a></li>
            </ul>
            <!--</div>-->
        </div>
    </div>
</div>

<!--<div class="sidebar-inner c-overflow">
    <div class="profile-menu">
        <a href="">
            <div class="profile-pic">
                <img class="circle responsive-img" src={{imageURL}}>
            </div>

            <div class="profile-info">
                {{userProfileData.name}}

                <i class="zmdi zmdi-arrow-drop-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href="profile-about.html"><i class="zmdi zmdi-account"></i> View Profile</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            <li>
                <a style="cursor: pointer" (click)="logout()"><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>
</div>-->
