

 <!-- file drop zone -->

<div class="area">
    <div id="dropZone">
        <div class="input-group">
            <label class="input-group-btn">
                
                <span class="btn btn-success btn-raised btn-label file-upload" style="background-color: #f8f8f8;color: #2d3e4f;padding-left: 30px;padding-right: 30px;">
                    Browse to attach<input type="file" multiple (change)="fileChangeEvent($event)" #input style="display:none;" />
                </span>
            </label>
        </div>
    </div>
    <div *ngFor="let fileToUpload of filesToUpload" class="col-md-12 no-padding m-t-10">
        <!--<img src='{{ fileToUpload.previwSrc }}' alt=""  width="40" class="float-left" />-->
        <div class="upload-file-name">{{fileToUpload.file.name}}</div>
        <a href="javascript:void(0)" (click)="removeFile(fileToUpload)" title="Delete this attachment" class="upload-file-delete">
            <i class="material-icons" style="color: rgb(45, 62, 79);font-size: 16px;margin-top: 13px;">delete</i>
        </a>
    </div> 
</div>


