<div class="panel panel-default" data-widget="{&quot;draggable&quot;: &quot;true&quot;}" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px); position: relative; z-index: 0; left: 0px; top: 0px;">
    <div class="panel-controls dropdown">
        <button class="btn btn-icon-rounded refresh-panel"><span class="material-icons inverted">refresh</span><div class="ripple-container"></div></button>
        <button class="btn btn-icon-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="material-icons inverted">more_vert</span><div class="ripple-container"></div></button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="index.html">Action</a></li>
            <li><a href="index.html">Another action</a></li>
            <li><a href="index.html">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="index.html">Separated link</a></li>
        </ul>
    </div>
    <div class="panel-heading">
        <h2 style="font-size 16px;">
            Recent Activities
        </h2>
    </div>
    <div class="panel-body" style="height: 368px;overflow-y: scroll;overflow-x: hidden;" infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()"
     [scrollWindow]="true">
        <div class="widget">
            <div class="widget-body">
                <ul class="timeline" *ngFor="let activity of whatisgoingonTimelines; let i=index">

                    <li class="timeline">
                        <div class="timeline-icon"><img class="img-circle" src={{activity.userImage}} width="16" alt="icon" style="width: 38px;"></div>
                        <div class="timeline-body">
                            <div class="timeline-header">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href=#i{{i}} aria-expanded="false" style="padding-left: 0">
                                    <span *ngIf="activity.title.length > 39" class="author">{{activity.title | slice:0:39}}...</span>
                                    <span *ngIf="activity.title.length <= 39" class="author">{{activity.title}}</span>
                                </a>
                                <span class="date" *ngIf="activity.dateFormat != 'TODAY'">{{activity.date}}</span>
                                <span class="date" *ngIf="activity.dateFormat == 'TODAY'">{{activity.time}}</span>
                                <span>
                                    <ul class="contacts tag" style="display: flex;" *ngFor="let tag of activity.tags | slice: 0:3; let last = last; let j = index">
                                        <a class="btn" style="color:white;" (click)="select(activity)">{{tag.name}}</a>
                                        <span *ngIf="last && j==2">...</span>
                                    </ul>
                                </span>
                            </div>
                            <div id=i{{i}} class="panel-collapse collapse custom-panel-collapse">
                                <div class="panel-body" style="box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15)">
                                    <div [innerHTML]="activity.description"></div>
                                    <div style="    padding-top: 10px;float: right;">
                                         <button  class="btn btn-xs btn-danger btn-raised btn-label" style="background-color: rgb(48, 85, 159);;">
                                            <i style="font-size: 16px;" class="material-icons">access_time</i>  Go to Timeline
                                            <!--<i  class="fa fa-times"></i>  -->
                                            <div class="ripple-container"></div>
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!--<div class="box-header">
    <h3>WHAT IS GOING ON</h3>
</div>-->

<!--<div class="box-body" style="height: 245px; overflow-y: scroll; margin-right: 1rem;"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()"
     [scrollWindow]="true">
   
    <div class="list">
        <div class="list-item" *ngFor="let activity of whatisgoingonTimelines; let i=index">
            <div>
                <a href="#" class="list-left">
                    <span class="w-40 avatar">
                        <img class="circle responsive-img" src={{activity.userImage}}>
                    </span>
                </a>
                <div class="pull-right" style="color: #8e8484;">
                    <small class="lv-small" *ngIf="activity.dateFormat != 'TODAY'">{{activity.date}}</small>
                    <small class="lv-small" *ngIf="activity.dateFormat == 'TODAY'">{{activity.time}}</small>
                </div>
                <div class="list-body">
                    <div>
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href=#i{{i}} aria-expanded="false" style="padding-left: 0">
                            {{activity.title}}
                        </a>
                    </div>
                    <small class="text-muted text-ellipsis" style="">
                        <a style="cursor: pointer" (click)="select(activity)">
                            <span class="common-tag" *ngFor="let tag of activity.tags | slice: 0:4; let last = last; let j = index">
                                {{tag.name}}
                                <span *ngIf="last && j==3" >...</span>
                            </span>
                        </a> 
                    </small>
                </div>
                <div id=i{{i}} class="panel-collapse collapse custom-panel-collapse">
                    <div class="panel-body">
                        <div [innerHTML]="activity.description"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

