<section id="main-content">
    
    <modal class="modal visiblemodal" [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #parentModal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #fafafa;;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">Share</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                    <p style="font-size: 14px;font-family: ‘Merriweather’, Georgia, serif !important;font-weight: 500;padding-bottom: 0px;">Whom would you like to share with ?</p>
                     <user-app [isAllowedNewInput]="false" (usersAdded)='onSelectedUsersChanged($event)' (usersRemoved)="onSelectedUsersChanged($event)">Loading...</user-app>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-raised btn-default" data-dismiss="modal" (click)="parentModal.dismiss()">Close</button>
                    <button type="button" class="btn btn-raised btn-primary" (click)="parentModal.close();shareTimeline()">Share</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </modal>

    <timelineinfo close-others="true">
        <div class="search-results" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="onScroll()" [scrollWindow]="true">
        </div>

        <!--<div class="tag-suggestions-container">
            <span class="title">Trending</span>
            <div class="common-tag" *ngFor="let group of popularTags"><a style="padding-right: 5px;" (click)="selectTrend(group.data)">{{group.displayName}}</a></div>
        </div>-->
        <div id="wrapper">
            <div id="layout-static">
                <div class="static-content-wrapper">
                    <div class="static-content">
                        <div class="page-content">
                            <div class="container-fluid">
                                <div data-widget-group="group1" class="ui-sortable">
                                    <div class="row" style="margin-top: 11px;">


                                        <!--Timeline STARTS-->
                                        <div class="col-md-9" style="padding-left: 13px;">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab-8-2">
                                                    <div class="col-md-12 pl-n pr-n">

                                                    </div>
                                                    <!-- BEGIN TIMELINE -->
                                                    <div class="panel panel-white" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                                                        <div class="panel-controls dropdown">
                                                            <!--ADD A NOTE BUTTON-->
                                                            <button class="sliderightbtn btn btn-sm btn-info btn-label ml-md" (click)="getSelectedTags()" [disabled]="timeLineRequest.data.length == 0"
                                                                    style="width: 144px;padding-left: 12px;padding-right: 12px;margin-left: 72%;float: right;padding-top: 7px;
                                                                    font-size: 10px;box-shadow: 0px 0px 4px 0px #e3e9f1;margin-right: 15%;BACKGROUND-COLOR: #30559f;color: #dee4f0;" 
                                                                    id="chat-trigger" data-trigger="#chat" >
                                                                    <!-- data-trigger="#chat" -->
                                                                <div class="ripple-container"></div>
                                                                <i class="material-icons" style="font-size: 13px;color: #dee4f0;">note_add</i>   add note
                                                            </button>
                                                            <!--ADD A TASK BUTTON-->


                                                        </div>
                                                        <div class="panel-heading">
                                                            <h2 style="letter-spacing: 1px;">Timeline</h2>
                                                        </div>
                                                        <div class="panel-body" style="padding-top: 0;">
                                                            <!--STARTS TAG SEARCH-->
                                                            <div class="fluid-autocomplete" style="padding-left: 15px;padding-right: 15px;">
                                                                <prime-app [isAllowedNewInput]="false" [inputValues]="timeLineRequest.data" (tagsAdded)='onSelectedTagsChanged($event)' (tagsRemoved)="onSelectedTagsChanged($event)">Loading...</prime-app>
                                                            </div>

                                                            <!-- START TIMELINE -->
                                                            <div class="col-md-12" style="padding-top:16px;">
                                                                <timeline-group [heading]="timeline.dateFormat" *ngFor="let timeline of timeLinesList;  let i = index; let last = last" [isOpen]="i === i" [availableCountText]="timeline.availableThreadsCountText" class="panel-group panel-default">

                                                                    <!-- panel heading replaced -->

                                                                    <div id="collapseOne" class="collapse in">
                                                                        <div class="panel-body">
                                                                            <!-- END TIMELINE CONTENT -->
                                                                            <div class="flik-content">
                                                                                <!-- BEGIN TIMELINE 8-->
                                                                                <section id="cd-timeline" class="flik-container">
                                                                                    <!-- BEGIN TIMELINE CONTENT -->

                                                                                    <ul class="flik-timeline flik-timeline-10 flik-accordion" data-scroll-effect="bounce-effect">
                                                                                        <li class="" *ngFor="let Item of timeline.items">
                                                                                            <div class="relative">
                                                                                                <label class="show-title">{{Item.title}}</label>
                                                                                                <!-- date time view -->
                                                                                                <div class="date">
                                                                                                    <div class="timediv" style="padding-top 0px;padding-left 59px;">
                                                                                                        <time class="icon">
                                                                                                            <span class="" style="padding-top: 40px;" *ngIf="timeline.dateFormat != 'TODAY' && timeline.dateFormat != 'YESTERDAY'">{{Item.dateDay}}</span>
                                                                                                            <strong><span class="" *ngIf="timeline.dateFormat != 'TODAY' && timeline.dateFormat != 'YESTERDAY'">{{Item.dateMonth}}</span></strong>
                                                                                                            <span class="" *ngIf="timeline.dateFormat == 'TODAY' || timeline.dateFormat == 'YESTERDAY'">{{Item.timeHourMin}}</span>
                                                                                                            <span class="" *ngIf="timeline.dateFormat == 'TODAY' || timeline.dateFormat == 'YESTERDAY'">{{Item.timeAMPM}}</span>
                                                                                                        </time>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <!-- ENDS date time view -->

                                                                                                <span class='circle'></span>
                                                                                            </div>
                                                                                            <div class='flik-timeline-content'>


                                                                                                <div class="content-title">
                                                                                                    {{Item.title}}
                                                                                                    <!--<a class="btn btn-xs btn-info btn-label ml-md" href="#">
                                                                                                        <i class="material-icons" style="color: #30559f;font-size: 13px;">favorite</i>
                                                                                                        Watching
                                                                                                    </a>-->
                                                                                                    <img style="float: right;width: 44px;height: 41px;" class="img-circle avatar" src="assets/demo/avatar/avatar_01.png" alt="">
                                                                                                </div>
                                                                                                <div class="content-main">
                                                                                                    {{Item.description}}

                                                                                                    <ul class="contacts tag" style="display: flex;padding-top: 14px;padding-bottom: 6px;">
                                                                                                        <a *ngFor="let tag of Item.tags; let last = last" class="btn" style=" background:rgb(232, 234, 246); color #607d8b;">{{tag.name}}<div class="ripple-container" *ngIf="!last"></div></a>
                                                                                                    </ul>
                                                                                                    <hr class="style-six">

                                                                                                    <!-- tool set -->
                                                                                                    <div class="like-info" style="padding-left: 0px;float: initial !important;">
                                                                                                        <a class="btn btn-xs btn-info btn-label ml-md" href="#">
                                                                                                            <i class="material-icons" style="font-size: 13px;">thumb_up</i>
                                                                                                            Like
                                                                                                        </a>
                                                                                                        <a class="btn btn-xs btn-info btn-label ml-md" (click)="parentModal.open(); setCurrentNote(Item);">
                                                                                                            <i class="material-icons" style="font-size: 13px;">share</i>
                                                                                                            Share
                                                                                                        </a>
                                                                                                        <a class="btn btn-xs btn-info btn-label ml-md" href="#">
                                                                                                            <i class="material-icons" style="font-size: 13px;">alarm</i>
                                                                                                            Reminder
                                                                                                        </a>

                                                                                                        <a class="btn btn-xs btn-info btn-label ml-md" (click)="toggleOpenEditNote($event, Item)">
                                                                                                            <i class="material-icons" style="font-size: 13px;">edit</i>
                                                                                                            Edit
                                                                                                        </a>
                                                                                                        <div id="accordion" role="tablist" aria-multiselectable="true">
                                                                                                            <div class="panel-heading" role="tab" id="headingOne">
                                                                                                                <h4 class="panel-title">
                                                                                                                    <a class="btn btn-xs btn-info btn-label ml-md" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="float:right"><i class="material-icons" style="font-size: 13px;">comment</i> Comment  <div class="ripple-container"></div></a>
                                                                                                                </h4>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                        <div id="accordion" role="tablist" aria-multiselectable="true">
                                                                                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                                                                                <h4 class="panel-title">
                                                                                                                    <a class="btn btn-xs btn-info btn-label ml-md" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="float:right"><i class="material-icons">attachment</i> View Attachments  <div class="ripple-container"></div></a>
                                                                                                                </h4>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <!--comment-->
                                                                                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                                                                        <div class="panel-body"><input class="form-control" type="text" placeholder="Wish to make a reply..."></div>
                                                                                                    </div>
                                                                                                    <!-- attachemnet -->
                                                                                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                                                                        <div class="panel-body">
                                                                                                            <p class="mb20">Two attachment(s) available - <a href="app-inbox-read.html#">Download all</a></p>
                                                                                                            <div class="msg-attachments row">
                                                                                                                <div class="col-md-3">
                                                                                                                    <div class="well well-sm">
                                                                                                                        <img src="assets/demo/avatar/avatar_01.png" class="img-responsive">
                                                                                                                        <strong>Note 1.pdf</strong>
                                                                                                                        <span class="block">700kb</span>
                                                                                                                        <ul class="list-inline">
                                                                                                                            <li><a href="app-inbox-read.html#">Download</a></li>
                                                                                                                            <li><a href="app-inbox-read.html#">View</a></li>
                                                                                                                        </ul>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="col-md-3">
                                                                                                                    <div class="well well-sm">
                                                                                                                        <img src="assets/demo/avatar/avatar_01.png" class="img-responsive">
                                                                                                                        <strong>agile.png</strong>
                                                                                                                        <span class="block">600kb</span>
                                                                                                                        <ul class="list-inline">
                                                                                                                            <li><a href="app-inbox-read.html#">Download</a></li>
                                                                                                                            <li><a href="app-inbox-read.html#">View</a></li>
                                                                                                                        </ul>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <edit-note class="panel-collapse" [hidden]="!isEditNoteOpen || Item.id != selectedId" [title]="Item.title" [description]="Item.description" [id]="Item.id"></edit-note>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                    </ul>
                                                                                    <div *ngIf="last && isLoading && !loadingLabelHide" class="cd-timeline-block"><div class="cd-timeline-content"><timelinedetail close-others="true" style="color:#0277bd;">Loading..</timelinedetail></div></div>
                                                                                </section>
                                                                                <!-- END TIMELINE 8-->
                                                                            </div>

                                                                        </div>
                                                                    </div>

                                                                </timeline-group>
                                                                <div *ngIf="showlabel" class="no-records-container">No Records are found for the given Tag Combination</div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--    END TIMELINE	 -->
                                        </div>
                                        <div class="col-md-3" style="padding-left: 0;">
                                            <div class="panel panel-white" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                                                <div class="panel-controls dropdown">
                                                    <button class="btn btn-icon-rounded dropdown-toggle" data-toggle="dropdown"><span class="material-icons inverted">more_vert</span></button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="index.html">Action</a></li>
                                                        <li><a href="index.html">Another action</a></li>
                                                        <li><a href="index.html">Something else here</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="index.html">Separated link</a></li>
                                                    </ul>
                                                </div>
                                                <div class="panel-heading">
                                                    <h2 style="letter-spacing: 1px;">TRENDING</h2>
                                                </div>
                                                <div class="panel-body" style="padding-top: 0;">
                                                    <div class="widget">
                                                        <div class="widget-body">
                                                            <ul class="media-list contacts tags" *ngFor="let group of popularTags">
                                                                <li class="med" style="DISPLAY: inline-block;">
                                                                    <div class="media-body">
                                                                        <a class="btn" style="margin-top: 11px;color:white;" (click)="selectTrend(group.data)">{{group.displayName}}<div class="ripple-container"></div></a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- col-sm-9 -->
                        <!-- END TIMELINE-->
                        <!-- Trending STARTS -->

                    </div>
                </div>
            </div>
        </div>
    </timelineinfo>
</section>
<input type="hidden" value="2" id="application-view-id" />



