<div class="container-fluid">
    <div data-widget-group="group1" class="ui-sortable">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9">
                        <recentimeline></recentimeline>
                    </div>
                    <div class="col-md-3 col-sm-6" style="padding-left:0;/* padding-top: 0; */ /* padding-bottom: 0; */">
                        <!--whats going on -->
                        <whatisgoingon></whatisgoingon>
                        <!--whats going on -->
                        <!--think these are helpful panel-->
                        <thinkhelpful></thinkhelpful>
                        <!--think these are helpful panel-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> <!-- .container-fluid -->

<input type="hidden" value="1" id="application-view-id" />
